<div class="md-4">
    <form class="md-2" method="POST">

    <div class="form-group">
        <label >Tìm kiếm</label>
        <input type="text" class="form-control" name="q" placeholder="Nhập để tìm kiếm...">
    </div>
    
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>

    </form>

</div>
